


<h1 class="display-4">Cow & Bulls</h1>

<div class="text-center">
    <form method="post" asp-controller="ICB" asp-action="Index" >
        <div>
            <input type="text" minlength="4" maxlength="4" placeholder="Enter number of 4 digit" name="guess" />
        </div>
        <br>
        <input type="submit" />

    </form>

    @{ var data = ViewBag.Message; }
    <h4 class="text-center">@data</h4>

</div>